<div class="container col-11">
    <h2 class = "title">Reimbursements</h2>
  </div>
    <table class="table col-11 ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Reimb. ID</th>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Submitted</th>
          <th scope="col">Resolved</th>
          <th scope="col">Description</th>
          <th scope="col">Receipt</th>
          <th >Approval</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-primary btn-sm">View Reciept</button></td>
          <td >
            <form >
             <div class="form-check">  
                <input >     
                <label class="form-check-label" for="approve">
                  Approve
                </label>
              </div>
              <div class="form-check">
                <input >
                <label class="form-check-label" for="deny">
                  Deny
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Update</button>
            </form>
          </td>
        </tr>    
      </tbody>
    </table>